<!-- outer container -->

<div class="seq_other">
	 <!--<div class="wrapper"> 
            <div class="jcarousel-wrapper">-->                
                <div class="carousel" data-transition="slide">
			
					{% for img in images %}
				<div><img src="{{ img }}"  width="100%" height="350"></div>
					{% endfor %}
			

                <!-- Controls-->
	                </div>
		                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
		                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
		
	            	</div>
	        </div>
	     </div>
	</div> 
</div>
