{% load i18n %}

<!-- TODO: Replace by default edit view once available in Studio -->
<div class="wrapper-comp-settings is-active editor-with-buttons " id="settings-tab">
  <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_display_name">Title</label>
            <input class="input setting-input edit-display-name" id="edit_display_name" value="{{ self.display_name }}" type="text">
          </div>
          <span class="tip setting-help">The title of the images carousel that is displayed to the user</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_data">Definition</label>
            <span class="tip setting-help">The XML definition for the image carousel</span>
            <div class='codemirror-editor-wrapper'>
              {% if xml_data %}
              <textarea class="block-xml-editor edit-data">{{ xml_data }}</textarea>
              {% else %}
              <textarea class="block-xml-editor edit-data">
                  <carousel>
                      <img>http://met-content.bu.edu/etr2/content/images/Slide1.JPG</img>
                      <img>http://met-content.bu.edu/etr2/content/images/Slide2.JPG</img>
                      <img>http://met-content.bu.edu/etr2/content/images/Slide3.JPG</img>
                      <video>http://www.youtube.com/watch?v=7uHeNryKUWk</video>
                      <doc>http://www.bu.edu/met-eti/files/2013/03/Final_VirtualLaboratoriesForLearning.pdf</doc>
                 </carousel>
              </textarea>
              {% endif %}
            </div>
          </div>
      </li>
  </ul>
  <div class="xblock-actions">
    <span class="xblock-editor-error-message"></span>
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>

      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
