<style type="text/css">
	.video, .workpad { display: block-inline;}
</style>
{% if video and workpad %}
<script src="http://jwpsrv.com/library/xXmn2uXIEeOGQyIACtqXBA.js"></script>
<div class="wrapper" width="100%">
	<div class="video" id="myVideo" width="40%"></div>
	<script>
    	jwplayer("myVideo").setup({
        	file: "{{ video }}",
    	});
	</script>

	<div class="workpad" width="40%">
  		<iframe src="{{ workpad }}" width="480px" height="270px" style="display: inline-block;"></iframe>
	</div>
</div>
{% else %}
<div class="placeholder"></div>
{% endif %}
